.mint-header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgb(198, 47, 47);
    box-sizing: border-box;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    height: 40px;
    line-height: 1;
    padding: 0 10px;
    position: relative;
    text-align: center;
    white-space: nowrap;
}
* { touch-action: none; }